{% extends 'back.html.twig' %}
{% block edit %}


    <h1>MEDECINS</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Medecin</th>
                <th>Tel_med</th>
                <th>Mail_med</th>
                <th>Specialite</th>
                <th>Diplome</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <td>{{ medecin.id }}</td>
               <td> {{ medecin.nomMed }}
                {{ medecin.prenomMed }}</td>
                <td>{{ medecin.telMed }}</td>
                <td>{{ medecin.mailMed }}</td>
                <td>{{ medecin.specialite }}</td>
                <td>{{ medecin.diplome }}</td>
                <td>
            <img src="{{ asset('' ~ medecin.Photo) }}"
              style="width:100px;height:100px;" />
          </td>
          
                <td>
                   
                    <a href="{{ path('app_medecin_edit', {'id': medecin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        <br> <a href="{{ path('stats') }}">Statistiques</a>
          <br> <a href="{{ path('app_favoris_index') }}">Afficher la liste des favoris</a>
        </tbody>

        <a href="{{path('trie') }}"class="text-danger"><i class="btn btn-danger" data-feather="arrow-up"s></i>ASC Nom</a>
        <a href="{{path('triee') }}"><i class="btn btn-primary" data-feather="arrow-up"></i>DSC Nom</a>
    
    </table>
{% for message in app.flashes('info') %}
        <div class="alert alert-success">
        {{message}}
    {% endfor %}

    <a href="{{ path('app_medecin_new') }}">Create new</a>
   
{% endblock %}
