{% extends 'front.html.twig' %}

{% block edit %}
  <h1>
 
  </h1>

  <table class="table">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          Date
        </th>
        <th>
          lieu
        </th>
        <th>
         Photo
        </th>
        <th>
         equipe
        </th>
        <th>
         description
        </th>
      </tr>
    </thead>
    <tbody>
      {% for operations in medecin.operation %}
        <tr>
          <td>
            {{ operations.getId() }}
          </td>
          <td>
            {{ operations.getDate() }}
          </td>
          <td>
            {{ operations.getLieu() }}
          </td>
          <td>
            <img src="{{ asset('' ~ operations.getImage()) }}"
              style="width:100px;height:100px;" />
          </td>
          <td>
            {{ operations.getEquipe() }}
          </td>
          <td>
            {{ operations.getDescription() }}
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="6">
            no records found
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}