{% extends 'front.html.twig' %}

{% block title %}Services index{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('front_office/css/services.css') }}">

  
{% endblock %}

{% block department %}

    <h1>Services </h1>


    <table class="table">
        <thead>
            <tr>
                
                 <th style="background-color: blue; color: white;">Type</th>
      <th style="background-color: blue; color: white;">Description</th>
      <th style="background-color: blue; color: white;">Chef Service</th>
      <th style="background-color: blue; color: white;">Prix</th>
      <th style="background-color: blue; color: white;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
               
                <td>{{ service.type }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.ChefService}}</td>
                <td>{{ service.prix}}</td>
                <td>
                    <a href="{{ path('app_services_show', {'id': service.id}) }}"><button type="submit" class="btn btn-primary btn-lg">Afficher</button></a>
                
                    
                    <a href="{{ path('app_hospitalisation_new', {'id': service.id}) }}"><button type="submit" class="btn btn-primary btn-lg">Hospitalisation</button></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <section class="s-crossfit">
                    <div class="container">

                        <div class="sidebar-search">

                            <div class="input-group custom-search-form">

                                <input type="text" id="search" class="form-control" placeholder="Recherche">
                            </div>
                            <!-- /input-group -->
                        </div>

                        <div class="row" id="search">

                        </div>

                    </div>
 </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script>
                    $( document ).ready(function() {
                        var currentRequest = null;
                        $("#search").keyup(function(e){
                            /* La variable value va prendre la valeur insérer dans le champ de texte
                            afin d’effectuer la recherche */
                            var value = $(this).val();
                            if(currentRequest != null) {
                                currentRequest.abort();
                            }
                            /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                            « search » pour faire la recherche */
                            currentRequest = $.ajax({
                                url : "{{ path('offreajax') }}",
                                type : 'GET',
                                data: {
                                    'searchValue' : value
                                },
                                success : function(retour)
                                {
                                    $('#all').html(retour);
                                },
                            });
                            return false;
                        });
                    });
    </script>
   <a href="{{ path('app_appreciation_new') }}"><button type="submit" class="btn btn-primary btn-lg">Appreciation</button></a>
     
{% endblock %}

